<div class="main-view">
  <mat-card class="sktn-panel">

    <mat-card-title>{{ title }}</mat-card-title>

    <mat-card-content>

      <div class="sktn-panel-content">
        
        <ng-content></ng-content>

      </div>

    </mat-card-content>

    <div class="sktn-panel-footer">

      <button 
        mat-raised-button
        type="button"
        (click)="location.back()"> 
        <span class="fa fa-chevron-left edit"></span> Back</button>

      <button 
        mat-raised-button
        *ngIf="editing === false"
        [disabled]="disabled"
        type="button"
        (click)="startEditing()">
        <span class="fa fa-pencil edit"></span> Edit</button>
      
      <button type="button"
        mat-raised-button
        *ngIf="editing === true"
        type="button"
        [disabled]="loading === true"
        (click)="stopEditing()">
        Close</button>

      <button type="button"
        mat-raised-button
        *ngIf="editing === true" 
        [disabled]="(panel.form.pristine || !panel.form.valid) || loading === true"
        type="button"
        (click)="update()">
        <span *ngIf="loading === false" class="fa fa-pencil edit"></span> 
        <span *ngIf="loading === false">Send</span>
        <span *ngIf="loading === true" class="fa fa-spin fa-cog"></span></button>

    </div>

  </mat-card>
    
</div>