<md-dialog-content>
    
  <sktn-form title="Role Form" [formGroup]="form" (onClose)="close()">

    <md-form-field mdLine class="fullwidth">
      <input mdInput type="text"placeholder="Name" formControlName="name" name="name">
      <sktn-form-errors mdLine [element]="form.get('name')" [reactive]="true"></sktn-form-errors>
    </md-form-field> 

    <button form-actions md-raised-button color="accent" class="edit" [disabled]="loading === true || !form.valid" (click)="submit()">
      <span class="fa fa-pencil"></span> Send</button>

  </sktn-form>

</md-dialog-content>

