<mat-dialog-content>
    
  <sktn-form title="Role Form" [formGroup]="form" (onClose)="close()">

    <mat-form-field class="fullwidth">
      <input matInput type="text" placeholder="Name" formControlName="name" name="name">
      <sktn-form-errors [element]="form.get('name')" [reactive]="true"></sktn-form-errors>
    </mat-form-field> 

    <button form-actions mat-raised-button color="accent" class="edit" [disabled]="loading === true || !form.valid" (click)="submit()">
      <span class="fa fa-pencil"></span> Send</button>

  </sktn-form>

</mat-dialog-content>

