
<div fxLayout="column" fxFlex  class="is-table">

  <h6>Roles</h6>

  <div fxLayout="row" class="admin-widget">

    <div class="fill-space"></div>

    <div>

      <button type="button" md-raised-button
        (click)="openForm(undefined)"
        [disabled]="role_service.actions.create">
        <span class="fa fa-plus add"></span> Add Role

      </button>

    </div>

  </div>

  <div  class="admin-widget">

    <table class="is-table" *ngIf="role_service.roles.length > 0">

      <thead>
        <tr>

          <th class="icon"></th>
          <th class="icon"></th>

          <th>Name</th>
          
        </tr>
      </thead>

      <tbody>
        
        <tr *ngFor="let role of role_service.roles">
          
          <td class="icon edit" [class.disabled]="!role.enabled || role_service.actions.update">
            <span class="fa fa-pencil" (click)="openForm(role)"></span>
          </td>

          <td class="icon remove" [class.disabled]="!role.enabled || role_service.actions.delete">
            <span class="fa fa-remove" (click)="confirm(role)"></span>
          </td>

          <td>{{ role.name }}</td>

        </tr>

      </tbody>

    </table>

  </div>


</div>