<h1>Roles</h1>

<sktn-data-table
  fxFlex
  orderby="name"
  [total_items]="total_items"
  (onChange)="updateTable($event)">

  <button type="button" md-raised-button data-table-actions
    [disabled]="!admin_panel.auth.getPrivilege('Roles', 'create-role')"
    (click)="openForm(null)">
    <span class="fa fa-plus add" [class.disabled]="!admin_panel.auth.getPrivilege('Roles', 'create-role')"></span> Add Role
  </button>

  <md-table [dataSource]="data_source" data-table>

    <ng-container cdkColumnDef="edit">
      <md-header-cell *cdkHeaderCellDef></md-header-cell>
      <md-cell class="icon" *cdkCellDef="let row" (click)="openForm(row.id)"> 
        <span class="fa fa-pencil edit" [class.disabled]="!admin_panel.auth.getPrivilege('Roles', 'update-role')" ></span>
      </md-cell>
    </ng-container>

    <ng-container cdkColumnDef="remove">
      <md-header-cell *cdkHeaderCellDef></md-header-cell>
      <md-cell class="icon" *cdkCellDef="let row" (click)="confirm(row)"> 
        <span class="fa fa-remove remove" [class.disabled]="!admin_panel.auth.getPrivilege('Roles', 'remove-role')" ></span>
      </md-cell>
    </ng-container>

    <ng-container cdkColumnDef="name">
      <md-header-cell *cdkHeaderCellDef>Name</md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.name}} </md-cell>
    </ng-container>

    <md-header-row *cdkHeaderRowDef="headers"></md-header-row>
    <md-row *cdkRowDef="let row; columns: headers;"></md-row>

  </md-table>

</sktn-data-table>

