<mat-card class="login">

  <mat-card-title>Lets Get Started</mat-card-title>

  <mat-card-content>

    <div class="messages">
      <p class="alert alert-warning" *ngFor="let message of messages">{{ message }}</p>
    </div>

    <form [formGroup]="signup_form" novalidate>
      <mat-list>

        <mat-list-item>

          <mat-input-container class="fullwidth">
            <input matInput type="email" placeholder="Email" 
              (keydown.enter)="signup()"
              formControlName="email" name="email">
          </mat-input-container>

        </mat-list-item>

        <sktn-form-errors [element]="signup_form.get('email')"></sktn-form-errors>

        <mat-list-item>

          <mat-input-container class="fullwidth">
            <input matInput type="password" placeholder="Password" 
              (keydown.enter)="signup()"
              formControlName="password" name="password">
          </mat-input-container>

        </mat-list-item>
        
        <sktn-form-errors [element]="signup_form.get('password')"></sktn-form-errors>

      </mat-list>

    </form>

  </mat-card-content>

  <mat-card-actions>
      <button mat-button class="fullwidth" color="primary" (click)="signup()">Sign Up</button>
  </mat-card-actions>

</mat-card>