<div class="container-fluid sktn-settings" fxLayout="column">

  <h1>Settings</h1>

  <div fxLayout="row" fxLayoutGap="1rem" fxLayoutAlign="start start">
    <sktn-setting-item title="users" icon="fa-users" [routerLink]="['/admin', 'users']"></sktn-setting-item>

    <sktn-setting-item title="privileges" icon="fa-unlock-alt" [routerLink]="['/admin', 'settings', 'privileges']"></sktn-setting-item>

    <sktn-setting-item title="roles" icon="fa-users" [routerLink]="['/admin', 'settings', 'roles']"></sktn-setting-item>

    <ng-content></ng-content>
  </div>

</div>
