
.sktn-data-table {
  overflow-x: auto;

  .sktn-data-table-header {
    padding: 0rem 1.5rem;
    background: rgba(64, 64, 64, 0.06);
    border: solid 1px rgba(0, 0, 0, 0.12);
    border-bottom: 0;
    
    .sktn-data-table-actions {
      padding-top: 0.5em;
    }
  }

  .sktn-data-table-content {
    border: solid 1px rgba(0, 0, 0, 0.12);
    border-bottom: none;
  }
  
  .no-data {
    padding: 2rem;
    text-align: center;
    border: solid 1px lightgrey;
    text-transform: uppercase;
  }
  
  .table-loading {
    padding: 2rem;
    text-align: center;
    border: solid 1px lightgrey;
    text-transform: uppercase;
  }

  .icon {
    max-width: 2rem;
    font-size: 1rem;
    cursor: pointer;

    &:first-of-type {
      max-width: 2.5rem;
      padding-left: 0.5rem;
    }

  }
}