<div class="sktn-data-table">

  <div fxLayout.md="row" fxLayout.xs="column" class="sktn-data-table-header">

    <div fxFlex fxFlexAlign="start start" *ngIf="pagination">

      <sktn-pagination
        [current_page]="table_data.page"
        [limit]="table_data.limit"
        [total_items]="total_items"
        [active]="active">
      </sktn-pagination>

    </div>

    <div fxLayout.md="row" fxLayoutAlign="end start" fxLayoutGap="0.5rem" fxFlex fxFlexAlign="end start">

      <md-input-container *ngIf="filter">
        <input mdInput 
          placeholder="Filter Results" 
          [disabled]="!active"
          #filterinput/>
      </md-input-container>
      
      <div class="sktn-data-table-actions" fxLayout.md="row" fxLayoutGap="0.5rem" fxLayoutAlign="start start" *ngIf="actions">
        <ng-content select="[data-table-actions]"></ng-content>
        
        <button 
          md-raised-button
          class="add"
          (click)="refresh()" 
          [disabled]="!active">
          <span class="fa fa-refresh"></span>
        </button>
      </div>

    </div>

  </div>

  <div class="sktn-data-table-content" *ngIf="total_items > 0 || pagination === false">
    <ng-content select="[data-table]"></ng-content>
  </div>
  
  <div *ngIf="total_items == 0 && pagination === true">No data found</div>

</div>