<div class="sktn-data-table">
    
      <div fxLayout.md="row" fxLayout.xs="column" class="sktn-data-table-header" *ngIf="filter || actions || pagination">
        
        <!-- Desktop view -->
        <div fxFlex fxFlexAlign="start start" *ngIf="pagination">
    
          <sktn-pagination
            [current_page]="table.event.page"
            [limit]="table.event.limit"
            [total_items]="total_items"
            [active]="active">
          </sktn-pagination>
    
        </div>
    
        <div fxLayout="row" fxLayoutAlign="end start" fxLayoutGap="0.5rem" fxFlex fxFlexAlign="end start" fxHide.xs="true" fxHide.md="false">
          <mat-input-container *ngIf="filter">
            <input matInput 
              placeholder="Filter Results" 
              [disabled]="!active"
              [value]="table.event.filter ? table.event.filter : ''"
              #filterinput/>
          </mat-input-container>
          
          <div class="sktn-data-table-actions" fxLayoutGap="0.5rem" fxLayoutAlign="start start" *ngIf="actions">
            <ng-content select="[data-table-actions]"></ng-content>
            
            <button 
              mat-raised-button
              class="add"
              (click)="refresh()" 
              [disabled]="!active">
              <span class="fa fa-refresh"></span>
            </button>
          </div>
        
        </div>

        <!-- Mobile view -->
        <div fxHide.md="true" fxHide.lg="true" fxHide.xl="true" fxHide.xs="false">
          <mat-input-container *ngIf="filter">
            <input matInput 
              placeholder="Filter Results" 
              [disabled]="!active"
              [value]="table.event.filter ? table.event.filter : ''"
              #filterinput/>
          </mat-input-container>
            
          <button mat-icon-button [matMenuTriggerFor]="appMenu" fxHide.xs="false">
            <span class="fa fa-bars"></span>
          </button> 

          <mat-menu #appMenu="matMenu">

            <ng-content select="[data-table-actions-mobile]"></ng-content>
          
            <button 
              mat-menu-item
              class="add"
              (click)="refresh()" 
              [disabled]="!active">
              <span class="fa fa-refresh"> Refresh</span>
            </button>
          </mat-menu>
        </div>

      </div>
    
      <div class="sktn-data-table-content" *ngIf="(total_items > 0 || pagination === false) && !loading">
        <ng-content select="[data-table]"></ng-content>
      </div>
      
      <div class="no-data" *ngIf="total_items == 0 && pagination === true && !loading">No data found</div>

      <div class="table-loading" *ngIf="loading">
          <mat-spinner style="margin: 0 auto"></mat-spinner>
          <p>Loading</p>
      </div> 
    
    </div>