

<input style="position:absolute; left:-9999px; top:-99999px;" type="file" #fileinput [attr.multiple]="this.max > 1" 
    (change)="fileSelected(fileinput.files)"/>

<mat-card class="sktn-uploader" draggable="true" (dragenter)="dragStart($event)" (dragleave)="dragEnd($event)" (drop)="drop($event)" (dragover)="dragOver($event);">
  <div class="sktn-drag" fxLayout="row" fxLayoutAlign="center center" [style.z-index]="drag ? 200 : 1" >
    <p *ngIf="!drag">DRAG FILES HERE</p>
    <p *ngIf="drag">DROP NOW</p>
  </div>

  <h3>{{ title }}</h3>
  
  <mat-list>
      
    <ng-template ngFor let-file let-i="index" [ngForOf]="files">
      <mat-list-item >
          <p mat-line> {{ file.name }} </p>
          <mat-icon mat-list-icon (click)="removeFile(i)"><span class="fa fa-remove"></span></mat-icon> 
      </mat-list-item>
      <mat-divider></mat-divider>
    </ng-template>
  
  </mat-list>

  <mat-card-actions>
    <button mat-raised-button color="accent" (click)="fileinput.click()" [disabled]="files.length === max">Choose</button>
  </mat-card-actions>
</mat-card>