.sktn-form-error {
  color: #7E1A1A;
  background: #EFC7C7;
  padding: 0.3rem 0.2rem;
  margin: 0.2rem 0;

  &.reactive {
    color: #f44336;
    background: white;
    text-align: right;
    padding: 0;
    margin: 0;
  }

  p {
    margin: 0;
  }
}