<div *ngIf="element.dirty && element.errors" class="sktn-form-error">

  <div *ngIf="element.errors.required"  class="form-control-feedback">
    <p><span class="fa fa-exclamation"></span> {{ name ? name : 'This' }} field is required</p>
  </div>

  <div *ngIf="element.errors.minlength" class="form-control-feedback">
    <p><span class="fa fa-exclamation"></span> {{ name ? name : 'This' }} field must be at least {{ element.errors.minlength.requiredLength }}, and currently it is {{ element.errors.minlength.actualLength }} of {{ element.errors.minlength.requiredLength }}</p>
  </div>

  <div *ngIf="element.errors.maxlength" class="form-control-feedback">
    <p><span class="fa fa-exclamation"></span> {{ name ? name : 'This' }} field must be at most {{ element.errors.maxlength.requiredLength }}, and currently it is {{ element.errors.maxlength.actualLength - element.errors.maxlength.requiredLength }} over</p>
  </div>

</div>
