<mat-dialog-content>

  <sktn-form title="User Form" [formGroup]="form" (onClose)="close()">

    <mat-form-field matLine class="fullwidth">
      <input matInput type="text"placeholder="Name" formControlName="name" name="name">
      <sktn-form-errors matLine [element]="form.get('name')" [reactive]="true"></sktn-form-errors>
    </mat-form-field> 

    <mat-form-field class="fullwidth">
      <input matInput type="text"placeholder="Surname" formControlName="surname" name="surname">
    </mat-form-field>
  

    <mat-form-field class="fullwidth">
      <input matInput type="text"placeholder="Email" formControlName="email" name="email">
    </mat-form-field>
  

    <mat-radio-group formControlName="status" class="fullwidth">
      <label>Status</label>
      <mat-radio-button [value]="1">Active</mat-radio-button>
      <mat-radio-button [value]="2">Inactive</mat-radio-button>
    </mat-radio-group>   

    <mat-form-field class="fullwidth">
      <mat-select placeholder="Role" formControlName="role"  class="fullwidth">
        <mat-option *ngFor="let role of roles" [value]="role.id">
          {{ role.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
        
    <button form-actions mat-raised-button color="accent" class="edit" [disabled]="form.invalid || loading" (click)="submit()">
      <span class="fa fa-pencil" *ngIf="!loading"></span> Send
      <span class="fa fa-cog fa-spin" *ngIf="loading"></span>
    </button>

  </sktn-form>

</mat-dialog-content>



