<div class="is-panel-item" >

    <p *ngIf="panel.editing === false" [ngSwitch]="type">
        <span class="is-panel-label">{{ title }}:</span> 

        <span *ngSwitchCase="'text'">{{ panel.form.get(name).value }} </span>
        <span *ngSwitchCase="'select'">{{ findListValue(panel.form.get(name).value) }} </span>
        <span *ngSwitchCase="'date'">
            <span *ngIf="panel.form.get(name).value">{{ panel.form.get(name).value | date:'dd-M-y' }}</span>
            <span *ngIf="!panel.form.get(name).value">N/A</span>
        </span>
        <span *ngSwitchCase="'date'">
            <span *ngIf="panel.form.get(name).value">{{ panel.form.get(name).value | date:'dd-M-y HH:mm' }}</span>
            <span *ngIf="!panel.form.get(name).value">N/A</span>
        </span>
        <span *ngSwitchCase="'boolean'" [style.color]="panel.form.get(name).value == 1 ? 'green' : 'firebrick'">{{ panel.form.get(name).value == 1 ? 'Active' : 'Inactive' }}</span>
    </p>

    <div class="form-group" *ngIf="panel.editing === true && editable === true" [ngSwitch]="type">

        <span *ngSwitchCase="'text'" [formGroup]="panel.form">
            <label>{{ title }}</label>
            <input [formControlName]="name" type="text" class="form-control" (keydown.enter)="submitForm()"/> 
        </span>

        <span *ngSwitchCase="'select'" [formGroup]="panel.form">
            <label>{{ title }}</label>
            <select [formControlName]="name" class="form-control" (keydown.enter)="submitForm()">
                <option value="">--Select--</option>
                <option *ngFor="let item of list" [value]="item.id">{{ item.name }}</option>
            </select>
        </span>

        <span *ngSwitchCase="'boolean'" [formGroup]="panel.form">
            <label class="custom-control custom-radio">
                <input [formControlName]="name" type="radio" class="custom-control-input" [value]="1" (keydown.enter)="submitForm()">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Active</span>
            </label>
            <label class="custom-control custom-radio">
                <input [formControlName]="name" type="radio" class="custom-control-input" [value]="0" (keydown.enter)="submitForm()">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Inactive</span>
            </label>
        </span>

        <app-form-errors [element]="panel.form.get(name)"></app-form-errors>
    </div>

</div>