
.sidenav-item {
  position: relative;
  cursor: pointer;
  opacity: 0.8;

  p {
    padding: 0.65rem 1rem;
    margin: 0;
    font-size: 0.875rem;
    color: inherit;
    text-transform: uppercase;
    color: #444;

    span {
      margin-right: 0.8rem;
      font-size: 0.9rem;
    }
  }

  &.active {
    opacity: 1;
    background: #f9f9f9;
    cursor: default;

    &:hover {
      opacity: 1;
      
    }
  }

  &:hover {
    opacity: 1;
  }

  &.disabled {
    color: grey;;
    cursor: not-allowed;
    opacity: 0.4;

    &:hover {
      background: white;
      color: grey;
      opacity: 0.4;
    }
  }

}

.sidenav-group {
  padding: 0.3rem 1rem;
  font-size: 1rem;
  color: #999;
  letter-spacing: 1px;
  margin: 0.4rem 0;
  font-weight: 300;
}
