#AdminMenu {
  z-index: 100;
}

#Admin {
  width: 100%;
  height: 100%;

  #Content {

    app-breadcrumbs {
      position: relative;
      z-index: 98;
    }

    #Main {
      position:relative;
      z-index: 97;
      padding: 1rem;
      overflow-y: scroll;

      &.noscroll {
        overflow-y: hidden;
      }

      .loader {
        top: 3px;
      }
    }

  }

  

}


