<div fxLayout="column" fxFlexFill style="overflow:hidden">

  <!-- Menubar Section -->
  <div id="AdminMenu">
    <ng-content select="[admin-menubar]"></ng-content>
  </div>
  <!-- End Menubar Section -->

  <div id="Admin" fxLayout="row" fxFlex="100%"> 

    <!-- Left Sidenav Section -->
    <ng-content select="[admin-left-sidebar]"></ng-content>

    <!-- End Sidenav Section -->

    <div id="Content"  fxLayout="column" fxFlex="100%">
      
       <!-- Breadcrumbs Section -->
      <sktn-breadcrumbs fxFlex="auto"></sktn-breadcrumbs>
      <!-- End Breadcrumbs Section -->

      <div id="Main" fxFlex="100%" [class.noscroll]="admin.loading === 'show'">

        <div class="loader" fxLayout="column" fxLayoutAlign="center center"
          [style.top]="'top'"
          [@fadetoggle]="admin.loading">
          <md-spinner></md-spinner>
          <p *ngIf="admin.loading_message">{{ admin.loading_message }}</p>
        </div>

        <router-outlet></router-outlet>

      </div>

      <sktn-action-bar show="show"></sktn-action-bar>

    </div>

    <!-- Right Sidenav Section -->
    <ng-content select="[admin-right-sidebar]"></ng-content>

  </div>

  <sktn-messages></sktn-messages>

</div>