<div class="container-fluid">

  <h1>Users</h1>

  <sktn-data-table
    fxFlex
    orderby="id"
    [total_items]="total_items"
    (onChange)="updateTable($event)">

    <button type="button" md-raised-button data-table-actions
      [disabled]="!admin_panel.auth.getPrivilege('create-user')"
      (click)="open_form()">
      <span class="fa fa-plus add" [class.disabled]="!admin_panel.auth.getPrivilege('create-user')"></span> Add User
    </button>

    <md-table #table [dataSource]="data_source" data-table>

      <ng-container cdkColumnDef="edit">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell class="icon" *cdkCellDef="let row" (click)="editUser(row.id)"> 
          <span class="fa fa-pencil edit" [class.disabled]="!admin_panel.auth.getPrivilege('view-user')" ></span>
        </md-cell>
      </ng-container>

      <ng-container cdkColumnDef="remove">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell class="icon" *cdkCellDef="let row" (click)="confirm(row)"> 
          <span class="fa fa-remove remove" [class.disabled]="!admin_panel.auth.getPrivilege('remove-user')" ></span>
        </md-cell>
      </ng-container>

      <ng-container cdkColumnDef="name">
        <md-header-cell *cdkHeaderCellDef>Name</md-header-cell>
        <md-cell *cdkCellDef="let row"> {{row.name}} </md-cell>
      </ng-container>

      <ng-container cdkColumnDef="surname">
        <md-header-cell *cdkHeaderCellDef>Surname</md-header-cell>
        <md-cell *cdkCellDef="let row">{{row.surname}}</md-cell>
      </ng-container>

      <ng-container cdkColumnDef="email">
        <md-header-cell *cdkHeaderCellDef>Email</md-header-cell>
        <md-cell *cdkCellDef="let row">{{row.email}}</md-cell>
      </ng-container>

      <ng-container cdkColumnDef="status">
        <md-header-cell *cdkHeaderCellDef>Status</md-header-cell>
        <md-cell *cdkCellDef="let row" 
          [style.color]="row.status.id == 1 ? 'darkGreen' : 'firebrick'">
          {{ row.status.name }}</md-cell>
      </ng-container>

      <ng-container cdkColumnDef="role">
        <md-header-cell *cdkHeaderCellDef>Role</md-header-cell>
        <md-cell *cdkCellDef="let row">{{ row.role.name }}</md-cell>
      </ng-container>

      <ng-container cdkColumnDef="last_login">
        <md-header-cell *cdkHeaderCellDef>Last Login</md-header-cell>
        <md-cell *cdkCellDef="let row">
          <span *ngIf="row.last_login">{{ row.last_login.date | date :'dd-MM-y HH:mm' }}</span>
        </md-cell>
      </ng-container>

      <md-header-row *cdkHeaderRowDef="headers"></md-header-row>
      <md-row *cdkRowDef="let row; columns: headers;"></md-row>

    </md-table>

  </sktn-data-table>

</div>