<div class="main-view">

  <sktn-data-table
    fxFlex
    orderby="id"
    [total_items]="total_items"
    [loading]="loading"
    (onChange)="updateTable($event)">

    <button type="button" mat-raised-button data-table-actions
      [disabled]="!admin_panel.auth.getPrivilege('Users', 'create-user')"
      (click)="openForm()">
      <span class="fa fa-plus add" [class.disabled]="!admin_panel.auth.getPrivilege('Users', 'create-user')"></span> Add User
    </button>

    <mat-table #table [dataSource]="data_source" data-table>

      <ng-container cdkColumnDef="edit">
        <mat-header-cell *cdkHeaderCellDef></mat-header-cell>
        <mat-cell class="icon" *cdkCellDef="let row" (click)="editUser(row.id)"> 
          <span class="fa fa-pencil edit" [class.disabled]="!admin_panel.auth.getPrivilege('Users', 'view-user')" ></span>
        </mat-cell>
      </ng-container>

      <ng-container cdkColumnDef="remove">
        <mat-header-cell *cdkHeaderCellDef></mat-header-cell>
        <mat-cell class="icon" *cdkCellDef="let row" (click)="confirm(row)"> 
          <span class="fa fa-remove remove" [class.disabled]="!admin_panel.auth.getPrivilege('Users', 'remove-user')"></span>
        </mat-cell>
      </ng-container>

      <ng-container cdkColumnDef="name">
        <mat-header-cell *cdkHeaderCellDef>Name</mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{row.name}} </mat-cell>
      </ng-container>

      <ng-container cdkColumnDef="surname">
        <mat-header-cell *cdkHeaderCellDef>Surname</mat-header-cell>
        <mat-cell *cdkCellDef="let row">{{row.surname}}</mat-cell>
      </ng-container>

      <ng-container cdkColumnDef="email">
        <mat-header-cell *cdkHeaderCellDef>Email</mat-header-cell>
        <mat-cell *cdkCellDef="let row">{{row.email}}</mat-cell>
      </ng-container>

      <ng-container cdkColumnDef="status">
        <mat-header-cell *cdkHeaderCellDef>Status</mat-header-cell>
        <mat-cell *cdkCellDef="let row" 
          [style.color]="row.status.id == 1 ? 'darkGreen' : 'firebrick'">
          {{ row.status.name }}</mat-cell>
      </ng-container>

      <ng-container cdkColumnDef="role">
        <mat-header-cell *cdkHeaderCellDef>Role</mat-header-cell>
        <mat-cell *cdkCellDef="let row">{{ row.role.name }}</mat-cell>
      </ng-container>

      <ng-container cdkColumnDef="last_login">
        <mat-header-cell *cdkHeaderCellDef>Last Login</mat-header-cell>
        <mat-cell *cdkCellDef="let row">
          <span *ngIf="row.last_login">{{ row.last_login.date | date :'dd-MM-y HH:mm' }}</span>
        </mat-cell>
      </ng-container>

      <mat-header-row *cdkHeaderRowDef="headers"></mat-header-row>
      <mat-row *cdkRowDef="let row; columns: headers;"></mat-row>

    </mat-table>

  </sktn-data-table>

</div>