<div class="main-view">

  <sktn-detail-panel 
    *ngIf="current_user"
    [form]="form"
    [(editing)]="editing"
    [(loading)]="loading"
    [disabled]="!admin_panel.auth.getPrivilege('Users', 'update-user')"
    (submit)="update()"
    title="Users Detail">
    
    <sktn-detail-item 
      title="Name"
      name="name" 
      type="text">
    </sktn-detail-item>

    <sktn-detail-item 
      title="Surname" 
      name="surname" 
      type="text">
    </sktn-detail-item>

    <sktn-detail-item 
      title="Email" 
      name="email" 
      type="text">
    </sktn-detail-item>

    <sktn-detail-item 
      title="Status" 
      name="status" 
      type="boolean">
    </sktn-detail-item>

    <sktn-detail-item 
      title="Role" 
      name="role" 
      type="select"
      [list]="roles">
      
    </sktn-detail-item>

    <sktn-detail-item 
      title="Last Login" 
      [value]="current_user.last_login ? current_user.last_login.date : false" 
      type="datetime"
      editable="false">

    </sktn-detail-item>

  </sktn-detail-panel>

</div>