
  <div class="sktn-list-container">

    <md-input-container>
      <input mdInput type="text" [disabled]="list.loading === true" [(ngModel)]="new_item" placeholder="Add Item" (keydown.enter)="create()">
    </md-input-container> 
    <button fxFlex md-button (click)="create()"><span class="fa fa-plus"></span></button>

    
    <div class="sktn-list-items">

      <sktn-editable-list-item *ngFor="let item of items; let i='index'"
        [(item)]="items[i]">
      </sktn-editable-list-item>

    </div>

  </div>

  <div class="error-list" *ngIf="list.errors.length > 0" >
    <p>Errors</p>
    <div class="alert-sm alert-danger error" *ngFor="let err of list.errors">{{ err.message }}</div>
  </div>

<div class="actions">
    <button md-raised-button (click)="save()">Save</button>    
</div>
