<div fxLayout="row" fxLayoutGap="0.5rem" fxLayoutAlign="start start" *ngIf="show" class="sktn-pagination">

  <div class="sktn-pagination-item link" 
    (click)="prev()" 
    [class.disabled]="current_page == 1 || active === false">
    <span class="fa fa-chevron-left"></span>
  </div>

  <md-input-container class="sktn-pagination-input">
    <input mdInput 
      #pageselect 
      [value]="current_page"
      [disabled]="active === false"
      (blur)="selectPage(pageselect.value)" 
      (keydown.enter)="selectPage(pageselect.value)"/>
  </md-input-container>

  <div class="sktn-pagination-item">
    <span> / {{ total_pages }}</span>
  </div>

  <div class="sktn-pagination-item link"
    fxFlex="1 1 2.5rem"
    (click)="next()" 
    [class.disabled]="current_page == total_pages || active === false">
    <span class="fa fa-chevron-right"></span>
  </div>

  <md-select 
    class="sktn-pagination-input"
    [(ngModel)]="limit"
    (change)="changeLimit()"
    [disabled]="!active">

    <md-option *ngFor="let limit of limits" [value]="limit">
        {{ limit }}
    </md-option>

  </md-select>

</div>