.sktn-pagination {
  
  text-align: center;

  md-input-container.sktn-pagination-input {
    width: 3rem;
  }
  md-select.sktn-pagination-input {
    width: 4rem;
  }

  .sktn-pagination-item {
    line-height: 4.125rem;

    &.link {
      color: highlight;
      opacity: 0.7;
    }

    &:hover {
      opacity: 1;
    }

    &.disabled {
      color: lightgrey;
      cursor: default;
    }
 }

}

