.sktn-pagination {
  
  text-align: center;

  mat-input-container.sktn-pagination-input {
    width: 3rem;
  }
  mat-select.sktn-pagination-input {
    width: 4rem;
  }

  .sktn-pagination-item {
    line-height: 4.125rem;

    &.link {
      color: #359FF4;
      opacity: 0.7;
    }

    &:hover {
      opacity: 1;

      &.disabled {
        opacity: 0.7;
      }
    }

    &.disabled {
      color: lightgrey;
      cursor: default;
    }
 }

}

